<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>
                <a href="#/users"> Roles</a>
            <span>&gt;
                Editar &gt; <b>{{model.name}}</b>
            </span>
        </h1>
    </div>
</div>

<div ng-show="errors" class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div  class="alert alert-danger alert-block animated fadeIn ">
            <h4><i class="fa-fw fa fa-warning"></i><strong>Error</strong></h4>
            <p ng-repeat="(field, fielderrors) in errors">
                <strong>{{field|uppercase}}</strong><br>
                <span ng-repeat="msg in fielderrors">&nbsp;{{msg}}<br></span>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div class="well">
            <h1>Rol</h1>
            <form class="" id="models-form" name="models-form" ng-submit="save()" >
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" placeholder="Nombre del Rol..." type="text" ng-model="model.name" />
                        </div>
                    </div>
                </div>
                <div class="pull-right">Ultima modificación: {{model.updated_at| date:'dd/MM/yyyy @ h:mma'}}</div>
                <footer>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <button class="btn btn-success" ng-click="resetform()" type="button">
                        <i class="fa fa-undo"></i> Reset
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>