<div class="widget-body fuelux">
	<form novalidate class='{{class}}' id='{{id}}' name='{{id}}'>
		<div class="wizard clearfix">
			<ul class="steps">
				<li ng-repeat='step in steps()' ng-class='{active: step.active}' data-target='#{{step.title | lowercase}}'><span class="badge" ng-class="{'badge-info': step.active}">{{step.id}}</span>{{step.title}}<span class="chevron"></span></li>
			</ul>
		</div>

		<div class="step-content">
			<div ng-transclude></div>
			<div class="actions m-t">
				<button type="button" ng-disabled="current().id < 2" class="btn btn-default btn-sm btn-prev" ng-click="prev()">Prev</button>
				<button type="button" ng-disabled="stepIsInvalid()" class="btn btn-default btn-sm btn-next" ng-click="next()" data-next="Next" data-last="Finish">Next</button>
			</div>
		</div>
	</form>
</div>