    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div ng-show="flash" class="alert alert-warning fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-warning"></i>
                <strong>Atencion</strong> {{flash}}
            </div>

            <div class="well no-padding" data-ng-controller="loginController">

                <form class="smart-form client-form" id="login-form" name="login-form" ng-submit="login()" >
                    <header>
                        Ingreso
                    </header>

                    <fieldset>
                        <section>
                            <label class="label">E-mail / Usuario</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input name="text" type="text" ng-model="email" />
                                <b class="tooltip tooltip-top-right">Ingrese su usuario o email</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Contraseña</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input name="password" type="password" ng-model="password" />
                                <b class="tooltip tooltip-top-right">Ingrese su contraseña</b>
                            </label>
                            <div class="note">
                                <a href="forgotpassword.html">Forgot password?</a>
                            </div>
                        </section>

                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="remember" checked="">
                                <i></i>Recuerdame
                            </label>
                        </section>
                    </fieldset>

                    <footer>
                        <button class="btn btn-primary" type="submit">Ingresar</button>
                    </footer>
                </form>
            </div>

            <h5 class="text-center">- Su usuario es personal NO comparta su clave -</h5>
        </div>
    </div>