<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>
                <a href="#/users"> Usuarios</a>
            <span>&gt;
                Editar &gt; <b>{{model.nombre}}</b>
            </span>
        </h1>
    </div>
</div>

<div ng-show="errors" class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div  class="alert alert-danger alert-block animated fadeIn ">
            <h4><i class="fa-fw fa fa-warning"></i><strong>Error</strong></h4>
            <p ng-repeat="(field, fielderrors) in errors">
                <strong>{{field|uppercase}}</strong><br>
                <span ng-repeat="msg in fielderrors">&nbsp;{{msg}}<br></span>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well">
            <h1>Usuario</h1>
            <form class="" id="users-form" name="users-form" ng-submit="save()" >
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Usuario</label>
                            <div class="input-group">

                                <input class="form-control" placeholder="Nombre de Usuario..." type="text" ng-model="model.username" />
                                <span class="input-group-addon">@</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>E-mail</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Email..." type="text" ng-model="model.email" />
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <legend>Datos Básicos</legend>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" placeholder="Usuario..." type="text" ng-model="model.nombre" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Apellido</label>
                                <input class="form-control" placeholder="Apellido..." type="text" ng-model="model.apellido" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input class="form-control" placeholder="Teleféno..." type="text" ng-model="model.numero_telefono" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input class="form-control" placeholder="Dirección..." type="text" ng-model="model.direccion" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input class="form-control" placeholder="Ciudad..." type="text" ng-model="model.ciudad" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Código Postal</label>
                                <input class="form-control" placeholder="Código Postal..." type="text" ng-model="model.codigo_postal" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label class="checkbox-inline">
                          <input ng-model="model.confirmed"  ng-true-value="1" ng-false-value="0" type="checkbox" class="checkbox style-0">
                          <span>Activo</span>
                    </label>
                </div>
                <div class="pull-right">Ultima modificación: {{model.updated_at| date:'dd/MM/yyyy @ h:mma'}}</div>

                <footer>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <button class="btn btn-success" ng-click="resetform()" type="button">
                        <i class="fa fa-undo"></i> Reset
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>