<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>
                Usuario: Roles
        </h1>
    </div>
</div>
<section id="widget-grid">
    <div class="row">
        <article class="col-xs-12">
            <div class="jarviswidget" id="widget-roles-list" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Lista de Roles</h2>
                    <div class="widget-toolbar">
                        <a class="btn btn-info btn-xs" id="boton-nuevo"><i class="fa fa-plus"></i> Nuevo</a>
                    </div>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover">
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">

    pageSetUp();

    /**
     * Inicializacion de la página
     */
    var pagefunction = function() {

        var sapp = angular.element('#smartApp');
        var injector = sapp.injector();
        var rp = injector.get('$routeParams');

        $('#boton-nuevo').attr("href", "#/users/"+rp.id+"/roles/create");

        var tableconfig = {
            "language": {
                "url": globalSmart.appCoreAssetPath+"/js/langs/datatable/"+$.lang.langCode+".json"
            },
            "ajaxSource": globalSmart.apiPrefix +"users/"+rp.id+"/roles/gettable", // al usar ajaxSource activamos el modo legacy
            "columns": [{
                "data": 'id',
                "visible": false,
                "searchable": false
            },{
                "data": 'name',
                "visible": true,
                "searchable": true
            },
            {
                "data": 'created_at',
                "type": 'date',
                "visible": true,
                "render": function (data, type, full) {
                    var d = moment(data);

                    return d.format('DD-MM-YYYY HH:mm');
                },
                "searchable": true
            },
            {
                "data": null,
                "targets": [ 3 ],
                "visible": true,
                "searchable": false,
                "orderable": false,
                "render":function(data, type, full) {
                    return '<a class="btn btn-info btn-xs" href="#/users/'+rp.id+'/roles/'+full.id+'"><i class="fa fa-edit"></i> Editar</a>';
                }
            }]
        };

        _.assign(tableconfig, globalSmart.getBaseDatatableConfig('roles_datatable'));
        $('#roles_datatable').dataTable(tableconfig);
    }



    // load related plugins

    loadScript(globalSmart.appCoreAssetPath+"js/plugin/datatables/jquery.dataTables.min.js", function(){
        loadScript(globalSmart.appCoreAssetPath+"js/plugin/datatables/dataTables.colVis.min.js", function(){
            // loadScript(globalSmart.appCoreAssetPath+"js/plugin/datatables/dataTables.tableTools.min.js", function(){
                loadScript(globalSmart.appCoreAssetPath+"js/plugin/datatables/dataTables.bootstrap.min.js", function(){
                    loadScript(globalSmart.appCoreAssetPath+"js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
                });
            // });
        });
    });
</script>