<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>
                <a href="#/users"> Usuarios</a>
            <span>&gt;
                Cambiar Contraseña &gt; <b>{{user.nombre}} {{user.apellido}}</b>
            </span>
        </h1>
    </div>
</div>
<div ng-show="errors" class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div  class="alert alert-danger alert-block animated fadeIn ">
            <h4><i class="fa-fw fa fa-warning"></i><strong>Error</strong></h4>
            <p ng-repeat="(field, fielderrors) in errors">
                <strong>{{field|uppercase}}</strong><br>
                <span ng-repeat="msg in fielderrors">&nbsp;{{msg}}<br></span>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <div class="well">
            <h1>Cambiar Clave</h1>

            <form class="" id="users-form" name="users-form" ng-submit="save()" >
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Contraseña Nueva</label>
                            <input class="form-control" placeholder="Ingrese nueva contraseña..." type="password" ng-model="newpass.password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Confirmar Contraseña Nueva</label>
                            <input class="form-control" placeholder="Confirme nueva contraseña..." type="password" ng-model="newpass.password_confirmation" />
                        </div>
                    </div>
                </div>
                <footer>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>